<footer class="container-md p-0">
    <div class="row align-items-center m-0">
        <div class="col-3 p-0 my-2">
            <a href="/" target="_blank">
                My Record
            </a>
        </div>
        <div class="col-9 p-0 my-2">
            <p> 조영래 | 서울시 강북구 | Email. dhkdneodrmf@naver.com | TEL. 010-4187-8625</p>
            <p>Copyright © 조영래. All Rights Reserved.</p>
        </div>
    </div>
</footer>