<!DOCTYPE html>
<html lang="ko">
    <%-include('head.ejs')%>
    <body>
        <%-include('header.ejs')%>
        <section class="my-2">
            <img src="../aaa/writing.jpg" width="100%">
        </section>
        <%-include('footer.ejs')%>
    </body>
</html>